:host {
  display: block;
}
h1 {
	font-size: 2em;
}
li {
	font-size: 1.5em;
}
h2 {
	font-size: 1.25em;
}
.card {
	background-color: #FFFFFF; 
	border-style:solid #A4A4A4;
	border-width: 2px;
	min-width: 300px;
}
#header {
	min-height: 65px;
	background-color: #F2F5A9;
}
.row {
	display: table-row;
}
.cell {
	display: table-cell;
	min-width: 150px;
	max-width: 150px;
	border: 1px solid #A4A4A4;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

